<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/employee/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <div>
        <input type="text" th:field="*{name}" id="name"/>
    </div>
    <br/>
    <label>Select level: </label>
    <div>
        <select th:field="*{level}">
            <option th:each="level: ${levels}"
                    th:text="${level.value}"
                    th:value="${level}">
                Level</option>
        </select>
    </div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>