<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/employee}" th:object="${person}">
    <label >Enter name: </label>
    <div>
    <input type="text" th:field="*{name}" th:name="name"/>
    </div>
    <br/>
    <label>Select level: </label>
    <div>
        <select th:field="*{level}">
            <option th:each="level: ${levels}"
                    th:text="${level.value}"
                    th:value="${level}">
                Level</option>
        </select>
    </div>
    <br/>
    <button type="submit">Create!</button>
</form>

</body>
</html>